* {
    box-sizing: border-box;
}

/* brukt kode fra kollonne 8 - 24 https://github.com/HIO-Webutvikling/WEBUTVIKLING2023/blob/main/HTML-OG-CSS/25.09/style.css */


/* Setter grunnfontstørrelsen til å være responsiv basert på visningsvinduets bredde */
html {
    font-size: calc(1em + 1vw);
}

/* Bruker Arial, Helvetica, sans-serif som standardfont for hele nettsiden og nullstiller margen til 0. */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #efefef;
}

/* Styling for overskrift og navigasjonsmeny i header */
header {
    text-align: center; /* Senterjusterer teksten i header. */
    background-image: url(img/sunset.jpg); /* Bakgrunnsbilde for header. */
    background-size: cover; /* Skalerer bakgrunnsbildet for å dekke hele header-området. */
    padding: 0 0 1rem 0; /* Legger til padding (avstand) til bunnen av header. */
}

#logo1{
    font-size: 20px;
}

#grid-container{
    display:grid;
    grid-template-areas: "header header"
                          "introimage introtext introtext"
                          ""
                          "footer footer footer"  ;
}
 
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Legger seg under hverandre mtp mobil */
    flex-wrap: wrap;
}

main{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    gap: 10px;
}

#myvideo{
    width: 100%;
}

.ul meny{
    justify-content: right;

}

/* Desktop */

/* Hentet kode her https://help.optimizepress.com/article/1667-how-to-hide-an-element-on-desktop/ */
@media only screen and (min-width: 960px) {
    .hiddendesktop{display:none;}
    }


@media only screen and (max-width: 600px)