* {
    box-sizing: border-box;
}

/* brukt kode fra kollonne 8 - 11 fra ann chalott sin unervisning https://github.com/HIO-Webutvikling/WEBUTVIKLING2023/blob/main/HTML-OG-CSS/25.09/style.css */


/* Setter grunnfontstørrelsen til å være responsiv basert på visningsvinduets bredde */
html {
    font-size: calc(1em + 1vw);
    max-width: 1600px;
}
main iframe {
    width: 100%;
   
}
#home {
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    font-weight: bold;
    
    }

 #portfolio{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    font-weight: bold;
 }   

 #about{
    text-decoration: underline;
    text-decoration-color: #e6bd43;
    font-weight: bold;
 }
h2{
    font-size: larger;
}

main h2{
    text-align: center;
    width: 100%;
}

.placeholder{
    padding: 10px;
}

.skjemaside{
    background-color: #e9e7e7;
    padding: 5%;
}

#fname{
    width: 30%;
    padding: 7px;
    border: none;
}

#subject{
    width: 30%;
    padding: 7px;
    border: none;
}


#sms{
    padding: 50px;
    width: 30%;
    border: none;
}
#sendbutton{
    background-color: #e6bd43;
    margin: 7px;
    padding: 10px;
    font-weight: bold;
    border: none;
}

.logo1footer{
    width: 100%;
}

/*Farge og størrelse på ikonen i footer*/
.fa-linkedin:before{
    color: #fff;
    font-size: 30px;
    padding: 7px;
}
.fa-instagram:before{
    color: #fff;
    font-size: 30px;
    padding: 7px;
}

.fa-facebook:before{
    color: #fff;
    font-size: 30px;
    padding: 7px;
}



/* brukt kode fra kollonne 41 - 46 fra ann chalott sin unervisning https://github.com/HIO-Webutvikling/WEBUTVIKLING2023/blob/main/HTML-OG-CSS/25.09/style.css */

/* Bruker Arial, Helvetica, sans-serif som standardfont for hele nettsiden og nullstiller margen til 0. */
body {
    font-family: 'Lora', serif;
    margin: 0;
    justify-content: center;
    max-width: 1600px;
}

p{
    font-size: large;
}

/* Styling for overskrift og navigasjonsmeny i header */
header {
    grid-area: header;
    }

.readmore{
    background-color: #e6bd43;
    color: #000;
    text-decoration:none;
    font-size: large;
    padding: 10px 7px;
    max-width: 100%;
    font-weight: bold;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
.readmore:hover {
    background-color:#252525;
    color: #e6bd43;

  }

    /* Brukt denne kilden til navbar https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_active */
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
      }


      li a {
        font-size: medium;
        display: block;
        color: black;
        text-align: center;
        padding: 10px 7px;
        text-decoration: none;
        margin-top: 10px;
        max-width: 100px;
      }

      .active {
        background-color: #e6bd43;
        font-weight: bold;
      }

      /* Kilde https://www.w3schools.com/css/css_align.asp */
      /* https://nation.marketo.com/t5/knowledgebase/how-to-move-a-form-button-left-or-right-using-css/ta-p/248907 */
      /* Kilde til butten og mail https://stackoverflow.com/questions/9201125/center-an-id-in-a-html-page-using-css */

button {
    font-size: medium;
        display: block;
        color: black;
        background-color: #e6bd43;
        text-align: center;
        padding: 10px 30px;
        text-decoration: none;
        font-weight: bold;
        max-width: 250px;
        border: none;
        margin-bottom: 50px;
        margin-top: -38px;
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: 54%;

}

#mail {
    background-color: #fff;
    padding: 11px 32px;
    margin-top: 11px;
    max-width: 320px;
    border: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 46%;
}

nav {
    grid-area: nav;
}

.enganging{
    text-align: center;
    padding: 5%;
}

#signup{
    background-color: #e9e7e7;
    width: 100%;
    justify-content: center;
    text-align: center;
}

footer{
    grid-area: footer;
    background-color: #000;
    color: #fff;
    display: flex;
}




#grid-container{
    display:grid;
    grid-template-areas:  "nav nav nav"
                          "header header header"
                          "main main main"
                          "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Legger seg under hverandre mtp mobil */
    flex-wrap: wrap;
    grid-template-columns: 1fr;
}

main{
    grid-area: main;
}

.company{
    background-color: #e6bd43;
    padding: 30px;

}

/* kilde til border style https://www.w3schools.com/css/css_border.asp */
.companyread{
    text-decoration: none;
    border-style: solid;
    color: #000;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    
}




.ul meny{
    justify-content: right;

    /* Pil kilde https://stackoverflow.com/questions/19188211/how-to-add-fixed-button-to-the-bottom-right-of-page?fbclid=IwAR1xq9PaPY5SjSVxJz14JOX64lxeqJASfQ88onHf-nCiCNDJLFwCXWiSuUc*/

}
.fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 20px;
}
.squaredfixedbutten{
  height: 50px;
  line-height: 50px;
  width: 35px;
  font-size: 20px;
  border: 3px;
  border-radius: 5px;
  background-color:#000;
  color: white;
  text-align: center;
  cursor: pointer;
}

/* Produktside */

/* Spurte ChatGPT "få text på bilde css og html" så fikk jeg koden jeg brukte nedenfor på "produkttext" bare gjort noen få endringer */

#produkttext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


/* Kilde til underline https://www.shecodes.io/athena/5273-create-straight-and-horizontal-lines-with-css */
#jobs{
    text-align: left;
    padding: 10px;
    border-bottom: 3px solid #e6bd43;
}


.artikkelkort{
    max-width: 692px;
    box-sizing: border-box;
    float: left;
    margin: 32px;
}



.boksen{
    text-decoration: none;
    border-style: solid;
    color: #000;
    padding: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 10px;

}
.boksto{
    text-decoration: none;
    border-style: solid;
    color: #000;
    padding: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 10px;
}
.bokstre{
    text-decoration: none;
    border-style: solid;
    color: #000;
    padding-top: 10px;
    padding-right: 120px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 10px;
}

#branding{
    text-align: left;
    padding: 10px;
    border-bottom: 3px solid #e6bd43;
}
#design{
    text-align: left;
    padding: 10px;
    border-bottom: 3px solid #e6bd43;

}

#development{
    text-align: left;
    padding: 10px;
    border-bottom: 3px solid #e6bd43;
}



/* About side */

.clients{
    text-align: center;
    background-color: #e6bd43;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
   
}

#clientslogo{
    padding-right: 15px;
}
/* Bruker som på contact boksen */
.aboutknap{
    background-color: #e6bd43;
    color: #000;
    text-decoration: none;
    font-size: large;
    padding: 10px 7px;
    max-width: 100%;
    font-weight: bold;
}

.paper{
    width: 100%;
    height: 600px;
    padding-top: 60px;
}
/* Kilde https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text_blocks */

#abouten{
    position: relative;
}
.aboutto{

opacity: 0.7;
position: absolute;
max-width: 550px;
min-width: 280px;
top: 20px;
bottom: 20px;
right: 50px;
padding-left: 15px;
padding-right: 15px;
background-color: #fff;
margin-top: 50px;

  
}







/* Desktop */

/* Hentet kode her https://help.optimizepress.com/article/1667-how-to-hide-an-element-on-desktop/ */
@media only screen and (min-width: 600px) {
    .hiddendesktop{display:none;}

    ul.navbar {

        flex-direction: row-reverse;
        float: right;
      }
      #logo1{
        position: absolute;
        left: 0;
        font-size: 20px;
        width: 70px;
        float: left;
    }

    /* Kilde til video https://stackoverflow.com/questions/18716077/crop-video-in-html */
    /* Kilde til gjennomsiktig bakgrunn https://stackoverflow.com/questions/26480963/how-to-make-a-transparent-overlay-on-image */

.videocrop{
    width: 100%;
    overflow: hidden;
    display: block;
    height: 360px;
    display: block;
    background: black;
    opacity: 0.5;
    margin-top: 4%;
}

#myvideo{
    margin-left: 0px;
    margin-top: -200px;
    }

    .headertext{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .company{
        /* display: inline-flex; */
        display: flex;
        justify-content: space-between;

    }


    #services{
        display: inline-flex;
        align-items: center;

    }

    #sendbutton:hover{
        background-color: #252525;
        color: #e6bd43;
    }

footer{
    justify-content: space-between;
    align-items: baseline;
    font-size: large;
    flex-direction: row;
}

li a.active:hover {
    background-color: #252525;
    color: #e6bd43;

  }
button:hover{
    background-color: #252525;
    color: #e6bd43;
}
.companyread:hover{
    background-color: #252525;
    color: #e6bd43;
}

.hiof{
    position:relative;
    margin-left: 50%;
    margin-top: -470px;

}


#skjema{
    margin-left: 20%;
    font-size: large;
    padding: 5%;
}


/* Produktsiden */

/* Fikk hjelp av chatgpt til å få bildene større */

.bildekort{
    max-width: 692px;
    width: 100%;
    display: flex;
    flex-grow: 2;
    flex-basis: 0;
    height: auto;
    box-sizing: border-box;
    justify-content: flex-start;
    
}
.bildekort4{
    max-width: 692px;
    padding-left: 1%;
    width: 100%;
}
.bildekort1{
    max-width: 692px;
    width: 100%;
    padding-left: 1%;

}

.bildekort2{
    max-width: 692px;
    width: 100%;
    padding-left: 1%;

}
.bokstre:hover{
    background-color: #252525;
    color: #e6bd43;
    border: none;
}
.boksto:hover{
    background-color: #252525;
    color: #e6bd43;
    border: none;
}
.boksen:hover{
    background-color: #252525;
    color: #e6bd43;
    border: none;
}
  /* About siden */

  .aboutknap:hover{
    background-color: #252525;
    color: #e6bd43;
  }





}
footer ul{
    list-style-type: none;
    margin: 1rem;
    padding: 25px;
    float: right;
    color: #fff;
    font-size: 23px;
  }




/* Mobil */
@media only screen and (max-width: 600px) {
    .hiddenmobile{display:none;}
#grid-container{
    display: grid;
    grid-template-areas: "nav"
                        "header"
                        "main"
                        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
}
.hiddendesktop{
    opacity: 0.5;
    padding: 5%;
    width: 100%;
    height: auto;
    align-items: center;
    overflow: hidden;
}

#logo1{
    font-size: 20px;
    width: 50%;
}
.readmore{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    

}

.headertext h2 {
 font-size: 30px;
}

.headertext p {
    font-size: 16px;
}

.headertext a {
    font-size: 15px;
}


 main article{
    text-align: center;
}

ul.navbar {

    flex-direction: column-reverse;
  }

  
  ul{
    flex-direction: column;
  }

  .headertext{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

li a {
    font-weight: normal;
  }

.active{

    font-weight: bold;
}

main iframe {
    width: 100%;
   
}
#produkttext{
    top: 83%;
   
}


footer{
    place-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

footer ul {
    display: inline-block;
}

footer ul li {
    display: inline-block;
}

.img-laptop {
    width: 176%;
    height: auto;
}


.placeholder{
    width: 100%;
}

.paper{
    width: 100%;
}


}