* {
    box-sizing: border-box;
}

/* brukt kode fra kollonne 8 - 18 https://github.com/HIO-Webutvikling/WEBUTVIKLING2023/blob/main/HTML-OG-CSS/25.09/style.css */


/* Setter grunnfontstørrelsen til å være responsiv basert på visningsvinduets bredde */
html {
    font-size: calc(1em + 1vw);
}

h2{
    font-size: larger;
}

main h2{
    text-align: center;
    width: 100%;
}


.logo1footer{
    width: 100%;
}
/* Bruker Arial, Helvetica, sans-serif som standardfont for hele nettsiden og nullstiller margen til 0. */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    justify-content: center;
}

p{
    font-size: large;
}

/* Styling for overskrift og navigasjonsmeny i header */
header {
    grid-area: header;
    }

.readmore{
    background-color: #e6bd43;
    color: #000;
    text-decoration:none;
    font-size: large;
    padding: 10px 7px;
    max-width: 100%;
    font-weight: bold;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip */
.readmore:hover {
    background-color: #111;
    color: #e6bd43;

  }

    /* Brukt denne kilden til navbar https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_active */
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
      }


      li a {
        font-size: medium;
        display: block;
        color: black;
        text-align: center;
        padding: 10px 7px;
        text-decoration: none;
        font-weight: bold;
        margin-top: 10px;
        max-width: 100px;
      }

      .active {
        background-color: #e6bd43;
      }

      /* Kilde https://www.w3schools.com/css/css_align.asp */
      /* https://nation.marketo.com/t5/knowledgebase/how-to-move-a-form-button-left-or-right-using-css/ta-p/248907 */
      /* Kilde til butten og mail https://stackoverflow.com/questions/9201125/center-an-id-in-a-html-page-using-css */

button {
    font-size: medium;
        display: block;
        color: black;
        background-color: #e6bd43;
        text-align: center;
        padding: 10px 30px;
        text-decoration: none;
        font-weight: bold;
        max-width: 250px;
        border: none;
        margin-bottom: 50px;
        margin-top: -38px;
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: 54%;

}

#mail {
    background-color: #fff;
    padding: 11px 32px;
    margin-top: 11px;
    max-width: 320px;
    border: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 46%;
}

nav {
    grid-area: nav;
}

.enganging{
    text-align: center;
    padding: 5%;
}

#signup{
    background-color: #e9e7e7;
    width: 100%;
    justify-content: center;
    text-align: center;
}

footer{
    grid-area: footer;
    background-color: #000;
    color: #fff;
    display: flex;
}




#grid-container{
    display:grid;
    grid-template-areas:  "nav nav nav"
                          "header header header"
                          "main main main"
                          "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Legger seg under hverandre mtp mobil */
    flex-wrap: wrap;
    grid-template-columns: 1fr;
}

main{
    grid-area: main;
    /* width: 100%;
    margin: 0 auto;
    gap: 10px; */
}

.company{
    background-color: #e6bd43;


}


 .forsidebilde{
    display: flex;
    justify-content: left;
    padding: 1rem;

}

/* kilde til border style https://www.w3schools.com/css/css_border.asp */
.companyread{
    text-decoration: none;
    border-style: solid;
    color: #000;
    padding: 10px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}




.ul meny{
    justify-content: right;

    /* Pil kilde https://stackoverflow.com/questions/19188211/how-to-add-fixed-button-to-the-bottom-right-of-page?fbclid=IwAR1xq9PaPY5SjSVxJz14JOX64lxeqJASfQ88onHf-nCiCNDJLFwCXWiSuUc*/

}
.fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 20px;
}
.squaredfixedbutten{
  height: 50px;
  line-height: 50px;
  width: 35px;
  font-size: 20px;
  border: 3px;
  border-radius: 5px;
  background-color:#000;
  color: white;
  text-align: center;
  cursor: pointer;
}

.artikkelkort{
    min-height: 200px;
    max-width: 692px;
    flex-grow: inherit;
}

.footer ul{

    background-color: #000;

}

/* About side */

.clients{
    text-align: center;
    background-color: #e6bd43;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
   
}

#clientslogo{
    padding-right: 15px;
}
/* Bruker som på contact boksen */
.aboutknap{
    background-color: #e6bd43;
    color: #000;
    text-decoration: none;
    font-size: large;
    padding: 10px 7px;
    max-width: 100%;
    font-weight: bold;
}

.paper{
    width: 100%;
    height: 600px;
    padding-top: 60px;
}
/* Kilde https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text_blocks */

#about{
    position: relative;
}
.aboutto{

text-align: left;
display: block;
opacity: 0.7;
position: absolute;
top: 20px;
left: 20px;
right: 50px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 50px;
background-color: #fff;
margin-left: 60%;
margin-top: 80px;
  
}







/* Desktop */

/* Hentet kode her https://help.optimizepress.com/article/1667-how-to-hide-an-element-on-desktop/ */
@media only screen and (min-width: 600px) {
    .hiddendesktop{display:none;}
    ul {

        flex-direction: row-reverse;
        float: right;
      }
      #logo1{
        position: absolute;
        left: 0;
        font-size: 20px;
        width: 5%;
        float: left;
    }

    /* Kilde til video https://stackoverflow.com/questions/18716077/crop-video-in-html */
    /* Kilde til gjennomsiktig bakgrunn https://stackoverflow.com/questions/26480963/how-to-make-a-transparent-overlay-on-image */

.videocrop{
    width: 100%;
    overflow: hidden;
    display: block;
    height: 360px;
    display: block;
    background: black;
    opacity: 0.5;
    margin-top: 4%;
}

#myvideo{
    margin-left: 0px;
    margin-top: -200px;
    }

    .headertext{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .company{
        display: inline-flex;


    }


    #services{
        display: inline-flex;
        align-items: center;

    }

footer{
    justify-content: space-between;
    align-items: baseline;
    font-size: large;
    flex-direction: row;
}

li a.active:hover {
    background-color: #111;
    color: #e6bd43;

  }
button:hover{
    background-color: #000;
    color: #e6bd43;
}
.companyread:hover{
    background-color: #000;
    color: #e6bd43;
}

.hiof{
    position:relative;
    margin-left: 35%;
    margin-top: -220px;

}


#skjema{
    margin-left: 20%;
    font-size: large;
}

}
#icon{
    list-style-type: none;
    margin: 1rem;
    padding: 25px;
    float: right;
  }


  /* About siden */

  .aboutknap:hover{
    background-color: #000;
    color: #e6bd43;
  }


/* Mobil */
@media only screen and (max-width: 600px) {
    .hiddenmobile{display:none;}
#grid-container{
    display: grid;
    grid-template-areas: "nav"
                        "header"
                        "main"
                        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
}

#logo1{
    font-size: 20px;
    width: 50%;
}

 main article{
    text-align: center;
}

ul {

    flex-direction: column-reverse;
  }

  .headertext{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

li a {
    font-weight: normal;
  }

.active{

    font-weight: bold;
}

#home {
text-decoration: underline;
text-decoration-color: #e6bd43;
font-weight: bold;

}



}